<article class="col-sm-9">
    <!-- new widget -->
    <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">

        <header>
            <span class="widget-icon"> <a href="#/app/dashboard"> <i class="fa fa-arrow-left"></i> </a></span>
            <h2>Live Feeds - Texas </h2>
        </header>

        <div class="widget-body">
        	<highchart id="chart2" config="chartConfig" class="span9"></highchart>
        </div>
    </div>
</article>