
<style type="text/css">    

    #force {
        height: 424px;        
    }   
    .node {
        cursor: pointer;
        stroke: #3182bd;
        stroke-width: 1.5px;
    }

    .link {
        fill: none;
        stroke: #9ecae1;
      stroke-width: 1.5px;
    }

    
    #radial{
        height: 180px;
    }

    #guage{
        height: 180px;
    }
     
    .progress-meter .background {
         fill: #ccc;
     }

    .progress-meter .foreground {
         fill: #05C3D1;
     }

    .progress-meter text {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;        
     }
</style>
<!-- main -->
<div class="content">
    <div class="col-md-9">
        <!-- WIDGET SIMPLE  -->
        <div class="widget">
            <div class="widget-header">
                <h3>Dependency Link</h3>
                <div class="btn-group widget-header-toolbar">
                    <a href title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <!-- <force-directed config="{{treeMapConfig}}"/> -->
                <div force config="force"></div>
            </div>
            <div class="widget-footer">
                Relationship: 30
            </div>
        </div>
        <!-- END WIDGET SIMPLE  -->
    </div>

    <div class="col-md-3">
        <!-- WIDGET COMPLETE -->
        <div class="widget">
            <div class="widget-header">
                <h3><i class="fa fa-windows"></i> Health Status</h3> <button type="button" class="btn btn-link btn-help"><i class="fa fa-question-circle"></i></button>
                <div class="btn-group widget-header-toolbar">
                    <a href title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <radial-progress value='value'></radial-progress>
            </div>            
        </div>
        <!-- END WIDGET COMPLETE -->
        <!-- WIDGET COMPLETE -->
        <div class="widget">
            <div class="widget-header">
                <h3><i class="fa fa-windows"></i> Health Status</h3> <button type="button" class="btn btn-link btn-help"><i class="fa fa-question-circle"></i></button>
                <div class="btn-group widget-header-toolbar">
                    <a href title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <guage-radial value='guageValue'></guage-progress>
            </div>            
        </div>
        <!-- END WIDGET COMPLETE -->
    </div>
</div><!-- /main-content -->    

<div class="content">
    <div class="col-md-6">
        <!-- WIDGET SIMPLE  -->
        <div class="widget">
            <div class="widget-header">
                <h3>- Empty -</h3>
                <div class="btn-group widget-header-toolbar">
                    <a href title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                    <a href title="Settings" class="btn-borderless"><i class="fa fa-cog"></i></a>                    
                    <a href title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <p>Just widget as simple container with header and footer</p>
            </div>
            <div class="widget-footer">
                Footer area
            </div>
        </div>
        <!-- END WIDGET SIMPLE  -->

        <!-- WIDGET SIMPLE  -->
        <div class="widget">
            <div class="widget-header">
                <h3>- Empty -</h3>
                <div class="btn-group widget-header-toolbar">
                    <a href title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                    <a href title="Settings" class="btn-borderless"><i class="fa fa-cog"></i></a>
                    <a href title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <p>Just widget as simple container with header and footer</p>
            </div>
            <div class="widget-footer">
                Footer area
            </div>
        </div>
        <!-- END WIDGET SIMPLE  -->

         <!-- WIDGET SIMPLE  -->
        <div class="widget">
            <div class="widget-header">
                <h3>- Empty -</h3>
                <div class="btn-group widget-header-toolbar">
                    <a href title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                    <a href title="Settings" class="btn-borderless"><i class="fa fa-cog"></i></a>
                    <a href title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <p>Just widget as simple container with header and footer</p>
            </div>
            <div class="widget-footer">
                Footer area
            </div>
        </div>
        <!-- END WIDGET SIMPLE  -->

    </div>



    <div class="col-md-6">
        <!-- WIDGET SIMPLE  -->
        <div class="widget">
            <div class="widget-header">
                <h3>- Empty -</h3>
                <div class="btn-group widget-header-toolbar">
                    <a href title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                    <a href title="Settings" class="btn-borderless"><i class="fa fa-cog"></i></a>
                    <a href title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <p>Just widget as simple container with header and footer</p>
            </div>
            <div class="widget-footer">
                Footer area
            </div>
        </div>
        <!-- END WIDGET SIMPLE  -->

        <!-- WIDGET SIMPLE  -->
        <div class="widget">
            <div class="widget-header">
                <h3>- Empty -</h3>
                <div class="btn-group widget-header-toolbar">
                    <a href title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>                    
                    <a href title="Settings" class="btn-borderless"><i class="fa fa-cog"></i></a>
                    <a href title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <p>Just widget as simple container with header and footer</p>
            </div>
            <div class="widget-footer">
                Footer area
            </div>
        </div>
        <!-- END WIDGET SIMPLE  -->

         <!-- WIDGET SIMPLE  -->
        <div class="widget">
            <div class="widget-header">
                <h3>- Empty -</h3>
                <div class="btn-group widget-header-toolbar">
                    <a href title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                    <a href title="Settings" class="btn-borderless"><i class="fa fa-cog"></i></a>
                    <a href title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="widget-content">
                <p>Just widget as simple container with header and footer</p>
            </div>
            <div class="widget-footer">
                Footer area
            </div>
        </div>
        <!-- END WIDGET SIMPLE  -->

    </div>
</div><!-- /main-content -->    