
<div class="wrapper full-page-wrapper page-register text-center">
	
	<div class="inner-page">
		<div class="logo"><h2>DEEPSPARK</h2></div>
		
		<div class="register-box center-block">
			<form ng-submit="register()">
				<p class="title">Create Your Account</p>
				<input type="text" ng-model="user.firstname" placeholder="firstname" class="form-control">
				<input type="text" ng-model="user.lastname" placeholder="lastname" class="form-control">
				<input type="text" ng-model="user.company" placeholder="company" class="form-control">
				<input type="email" ng-model="user.email" placeholder="email" class="form-control">
				<input type="password" ng-model="user.password" placeholder="password" class="form-control">
				<input type="password" ng-model="repeatPassword" placeholder="repeat password" class="form-control">
				<div class="simple-checkbox">
					<input ng-model="agree" type="checkbox" id="agreement" name="agreement">
					<label for="agreement">I accept the <a href>Terms &amp; Agreements</a></label>
				</div>
				<button class="btn btn-custom-primary btn-lg btn-block btn-register"><i class="fa fa-check-circle"></i> Create Account</button>
			</form>
		</div>
	</div>
	<div class="push-sticky-footer"></div>
</div>

<div class="footer">&copy; 2014 Deepstream</div>