<div class="wrapper full-page-wrapper page-login text-center">

	<div class="inner-page">
	
		<div class="logo"><a href><img src="assets/img/deepstream-logo2.png" alt="" /></a></div>
		
		<div class="login-box center-block">
			<form class="form-horizontal" role="form">
				<p class="title">Enter your email</p>
				<div class="form-group">
					<label for="username" class="control-label sr-only">Email</label>
					<div class="col-sm-12">
						<div class="input-group">
							<input type="text" placeholder="email" class="form-control">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
						</div>
					</div>
				</div>				
				<button class="btn btn-custom-primary btn-lg btn-block btn-login"><i class="fa fa-arrow-circle-o-right"></i> Reset Password</button>
			</form>
			
			<div class="links">				
				<p><a href="#/register">Create New Account</a></p>
			</div>
		</div>
	</div>
	<div class="push-sticky-footer"></div>
</div>

<footer class="footer">&copy; 2014 Deepstream</footer>

<!-- Javascript -->
<script src="assets/js/jquery-2.1.0.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/modernizr.js"></script>
